* {
    font-family: 'Alata', sans-serif;
    background-color: whitesmoke;
}

.header {
    width: 100%;
    margin: 0px;
    background-color: #5a5a5a;
}

.header h1 {
    color: white;
    font-size: 20pt;
    background-color: #5a5a5a;
}

.header-h2 {
    color: white;
    font-size: 16pt;
    padding: 2px 8px;
    margin: 0px;
    background-color: #5a5a5a;
}

.linkEl {
    color: #41629f;
    margin: 10px;
    float: right;
}

.project-header {
    color: #5a5a5a;
    font-size: 14pt;
    margin: 8px 0px;
}

.project-link {
    color: #41629f;
    font-weight: bold;
    font-size: 11pt;
}

.project-image {
    margin : 8px 0px;
}

.project-div {
    border-bottom: 5px solid #5a5a5a;
    margin : 5px 0px;
}

#wrapper-h2 {
    color: #E85A4F;
    border-bottom: 4px solid #E85A4F;
    padding: 20px 0px 4px 8px;
    font-size: 16pt;
}

#aboutmeimg {
    float: left;
    padding: 0px 8px 8px 8px;
    margin: 0px;
}

#aboutMe {
    line-height: 25px;
}

#quote {
    text-align: right;
    color: #41629f;
}

#weatherdash,
#passwordgen,
#tripassist {
    color: #5a5a5a;
}

form {
    line-height: 25px;
    padding-left: 8px;
}

.form-text {
    color: #5a5a5a;
}

#button {
    background-color: #E85A4F;
    color: #ffffff;
    padding: 6px 18px 6px;  
}

h1 {
    margin: 0px;
    border: 0px;
    display: inline;
    padding: 0px 0px 0px 8px;
 }
