* {
    font-family: 'Alata', sans-serif;
    background-color: whitesmoke;
}

/*#c00000 #41629f #5a5a5a*/
.header {
    width: 100%;
    margin: 0px;
    background-color: #5a5a5a;
}

.header h1 {
    color: white;
    font-size: 20pt;
    background-color: #5a5a5a;
}

.header-h2 {
    color: white;
    font-size: 16pt;
    padding: 2px 8px;
    margin: 0px;
    background-color: #5a5a5a;
}

.linkEl {
    color: /*#E98074*/ #41629f;
    margin: 10px;
    float: right;
}

/* h1, */
.project-header {
    /* background-color: #4aaaa5; */
    color: #5a5a5a;
    font-size: 14pt;
    margin: 8px 0px;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
}

.project-link {
    color: #41629f;
    font-weight: bold;
    font-size: 11pt;
}

.project-image {
    margin : 8px 0px;
}

.project-div {
    border-bottom: 5px solid #5a5a5a;
    margin : 5px 0px;
}

#wrapper-h2 {
    /* background-color: #ffffff; */
    color: #E85A4F;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    border-bottom: 4px solid #E85A4F;
    padding: 20px 0px 4px 8px;
    font-size: 16pt;
}

#aboutmeimg {
    float: left;
    padding: 0px 8px 8px 8px;
    margin: 0px;
}

#aboutMe {
    line-height: 25px;
}

#quote {
    text-align: right;
    color: #41629f;

}

#weatherdash,
#passwordgen,
#tripassist {
    color: #5a5a5a;
}
/* p,
form {
    color: #777777
} */

form {
    line-height: 25px;
    padding-left: 8px;
}

#button {
    background-color: #4aaaa5;
    color: #ffffff;
    padding: 6px 18px 6px;  
}

#p1 {
    position: relative;
    left: 10px;
    top: 10px;
}
#img1 {
    float: left;
    position: relative;
    top: -10px;
}

#title1 {
    position: relative;
    left: -80px;
    width: 80px;
    top: 30px;
    float: left;
    font-size: 12pt;
    text-align: center;
}

#p2 {
    position: relative;
    left: 10px;
    top: 10px;
}
#img2 {
    float: left;
    position: relative;
    top: -10px;
    left: -40px;
}

#title2 {
    position: relative;
    left: -120px;
    width: 80px;
    top: 30px;
    float: left;
    font-size: 12pt;
    text-align: center;
}

#p3 {
    position: relative;
    left: 50px;
    top: 20px;
    clear: both;
}
#img3 {
    float: left;
    position: relative;
    top: -10px;
    left: -40px;
}

#title3 {
    position: relative;
    left: -120px;
    width: 80px;
    top: 30px;
    float: left;
    font-size: 12pt;
    text-align: center;
}

#p4 {
    position: relative;
    left: 140px;
    top: -60px;
    clear: both;
}
#img4 {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
}

#title4 {
    position: relative;
    left: -90px;
    width: 80px;
    top: 30px;
    float: left;
    font-size: 12pt;
    text-align: center;
}

#p5 {
    position: relative;
    left: 20px;
    top: -50px;
    clear: both;
}
#img5 {
    float: left;
    position: relative;
    top: -10px;
    left: -10px;
}

#title5 {
    position: relative;
    left: -90px;
    width: 80px;
    top: 30px;
    float: left;
    font-size: 12pt;
    text-align: center;
}

h1 {
    margin: 0px;
    border: 0px;
    display: inline;
    padding: 0px 0px 0px 8px;
 }
 
/* .footer {
    background-color: #666666;
    border-top: 8px solid #4aaaa5;
    text-align: center;
    padding: 8px 0px 8px 0px;
    width: 1260px;
    height: 24px;
    clear: both;
} */